Options +ExecCGI
AddHandler cgi-script .cgi

RewriteEngine On
RewriteBase /~harish/meta/changelog/
RewriteRule ^$ hgweb.cgi  [L]
# Send requests for files that exist to those files.
RewriteCond %{REQUEST_FILENAME} !-f
# Send requests for directories that exist to those directories.
RewriteCond %{REQUEST_FILENAME} !-d
# Send requests to hgwebdir.cgi, appending the rest of url.
RewriteRule (.*) hgweb.cgi/$1  [QSA,L]