/* Table-styling (Beta!) */

body
{
	font: 0.9em "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
}

h1
{
	text-align: center;
}

table.status
{

	font: .8em "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	color:#FFF;
	background:#666 url(full.png) repeat-x top left;
	border:5px solid #555;
	border-collapse:collapse;
	width:50em;
	margin-left:auto;
	margin-right:auto;
}

table.status thead
{
}

table.status thead th
{
	padding:0.5em 0.8em .5em;
	border-bottom:1px dotted #fff;
	text-align:center;
}

table.status thead tr
{
}

table.status td, table.status th
{
	background:transparent;
	padding:0.4em 1em;
}

table.status tbody tr
{
}

table.status tbody tr.unnecessary td
{
	background:transparent url(tr_bg.png) repeat top left;
}

table.status tfoot
{
}

table.status tfoot td
{
	padding-bottom:1.5em;
}

table.status tfoot tr
{
}

table.status td.working
{
	background: #0e8f21;
	text-align: center;
}

table.status td.broken
{
	background: #ed1413;
	text-align: center;
}

table.status td.wontfix
{
	background:transparent url(tr_bg.png) repeat top left;
	text-align: center;
}