/* Table-styling (Beta!) */

body
{
	font: 0.9em "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
}

h1
{
	text-align: center;
}

table.status
{

	font: .8em "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	color:#FFF;
	background:#666 url(full.png) repeat-x top left;
	border:5px solid #555;
	border-collapse:collapse;
	width:50em;
	margin-left:auto;
	margin-right:auto;
	margin-top: 1.5em;
}

table.status thead
{
}

table.status thead th
{
	padding:0.5em 0.8em .5em;
	border-bottom:1px dotted #fff;
	text-align:center;
}

table.status thead tr
{
}

table.status td, table.status th
{
	background:transparent;
	padding:0.4em 1em;
}

table.status tbody tr
{
}

table.status tbody tr.unnecessary td
{
	background:transparent url(tr_bg.png) repeat top left;
}

table.status tfoot tr td ol
{
        list-style: none;
}

table.status tfoot tr td ol li
{
    margin-top: 0.5em;
}

table.status tfoot td
{
	padding-bottom:1.5em;
}

table.status tfoot tr
{
}

table.status td.working
{
	background: #0e8f21;
	text-align: center;
}

table.status td.sortof
{
	background: #f7941d;
	text-align: center;
}

table.status td.broken
{
	background: #ed1413;
	text-align: center;
}

table.status td.wontfix
{
	background:transparent url(tr_bg.png) repeat top left;
	text-align: center;
}

table.status a
{
	color: #ffffff;
}

p.caption
{
    font-size:100%;
    text-align:center;
    margin-top:.5em;
    margin-bottom:1.5em;
}

span.status-key
{
    border: solid 1px black;
    padding-left: 0.5em; padding-right: 0.5em;
}

span.green
{
    background: #0e8f21;
}

span.red
{
    background: #ed1413;
}

span.orange
{
    background: #f7941d;
}